<h4 class="display-10">Add new player form</h4>
<hr>
<div class="container py-5">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form #form="ngForm" autocomplete="off" (submit)="onSubmit()">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>First Name</label>
                        <input name="first_name" #first_name="ngModel" [(ngModel)]="formData.first_name" type="text" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label>Last Name</label>
                        <input name="last_name" #last_name="ngModel" [(ngModel)]="formData.last_name" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Nationality</label>
                        <input name="nationality" #nationality="ngModel" [(ngModel)]="formData.nationality" type="text" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label>BirthDate</label>
                        <input name="birth_date" #birth_date="ngModel" [(ngModel)]="formData.birth_date" type="date" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Possition</label>
                        <select name="possition" #possition="ngModel" [(ngModel)]="formData.possition" class="form-control">
                            <option value="">---Select possition---</option>
                            <option value="GoalKeeper">GoalKeeper</option>
                            <option value="Centre-back defender">Centre-back defender</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label>Weight(kg)</label>
                        <input name="weight" #weight="ngModel" [(ngModel)]="formData.weight" type="number" min="0" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>Height(m)</label>
                        <input name="height" #height="ngModel" [(ngModel)]="formData.height" type="number" min="0" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>League</label>
                        <input name="league" #league="ngModel" [(ngModel)]="formData.league" type="text" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label>Season</label>
                        <input name="season" #season="ngModel" [(ngModel)]="formData.season" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Team</label>
                        <select name="fk_TeamId" #fk_TeamId="ngModel" [(ngModel)]="formData.fk_TeamId" class="form-control">
                            <option value="0">---Select team---</option>
                            <option *ngFor="let team of teamList" value="{{team.id}}">{{team.name}}</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>Injured</label>
                        <select name="injured" #injured="ngModel" [(ngModel)]="formData.injured" class="form-control">
                            <option value="-1">---Choose---</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Goals</label>
                        <input name="goals" #goals="ngModel" [(ngModel)]="formData.goals" type="number" min="0" class="form-control">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
                    <button type="button" class="btn btn-outlinedark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
                </div>
            </form>
        </div>
    </div>
</div>