<h4 class="display-10">Form of edit team</h4>
<hr>
<div class="container py-5">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form #form="ngForm" autocomplete="off" (submit)="onSubmit()">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Team name</label>
                        <input name="TeamName" #TeamName="ngModel" [(ngModel)]="formData.name" type="text" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label>Team code</label>
                        <input name="Code" #Code="ngModel" [(ngModel)]="formData.code" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Country</label>
                        <select name="Country" #Country="ngModel" [(ngModel)]="formData.country" class="form-control">
                                <option value="">--Select Country--</option>
                                <option value="Armenia">Armenia</option> 
                                <option value="Austria">Austria</option> 
                                <option value="Azerbaijan">Azerbaijan</option> 
                                <option value="Belarus">Belarus</option> 
                                <option value="Belgium">Belgium</option> 
                                <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option> 
                                <option value="Bulgaria">Bulgaria</option> 
                                <option value="Croatia">Croatia</option> 
                                <option value="Cyprus">Cyprus</option> 
                                <option value="Czech Republic">Czech Republic</option> 
                                <option value="Denmark">Denmark</option> 
                                <option value="Djibouti">Djibouti</option>
                                <option value="England">England</option>  
                                <option value="Finland">Finland</option> 
                                <option value="Georgia">Georgia</option> 
                                <option value="Germany">Germany</option> 
                                <option value="Greece">Greece</option> 
                                <option value="Hungary">Hungary</option> 
                                <option value="Iceland">Iceland</option>                                
                                <option value="Ireland">Ireland</option>
                                <option value="Italy">Italy</option>                               
                                <option value="Latvia">Latvia</option>                                
                                <option value="Lithuania">Lithuania</option> 
                                <option value="Luxembourg">Luxembourg</option>                                 
                                <option value="North Macedonia">North Macedonia</option>                               
                                <option value="Malta">Malta</option>                              
                                <option value="Moldova, Republic of">Moldova, Republic of</option>                               
                                <option value="Netherlands">Netherlands</option>                            
                                <option value="Norway">Norway</option> 
                                <option value="Poland">Poland</option> 
                                <option value="Portugal">Portugal</option>                            
                                <option value="Romania">Romania</option> 
                                <option value="Russian Federation">Russian Federation</option>                               
                                <option value="Slovakia">Slovakia</option> 
                                <option value="Slovenia">Slovenia</option> 
                                <option value="Spain">Spain</option>  
                                <option value="Sweden">Sweden</option> 
                                <option value="Switzerland">Switzerland</option>                               
                                <option value="Tunisia">Tunisia</option> 
                                <option value="Turkey">Turkey</option> 
                                <option value="Ukraine">Ukraine</option>                        
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>Founded Date</label>
                        <input name="Founded" #Founded="ngModel" [(ngModel)]="formData.founded" type="date" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Vanue City</label>
                        <input name="VanueCity" #VanueCity="ngModel" [(ngModel)]="formData.vanue_city" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Vanue Name</label>
                        <input name="VanueName" #VanueName="ngModel" [(ngModel)]="formData.vanue_name" type="text" class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <label>Vanue capacity</label>
                        <input name="VanueCapacity" #VanueCapacity="ngModel" [(ngModel)]="formData.vanue_capacity" type="number" min="0" class="form-control">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
                    <button type="button" class="btn btn-outlinedark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

